In [186]:
import pandas as pd
import numpy as np
import re

#chargement et affichage des données
tableau1 = pd.read_fwf('p2-arbres-fr.csv')
tableau1
tableau1.head()

  id;type_emplacement;domanialite;arrondissement;complement_addresse;numero;lieu;id_emplacement;libelle_francais;genre;espece;variete;circonference_cm;hauteur_m;stade_developpement;remarquable;geo_point_2d_a;geo_point_2d_b
0  99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
1  99875;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
2  99876;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
3  99877;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
4  99878;Arbre;Jardin;PARIS 17E ARRDT;;;PARC CLIC...

In [187]:
tableau2 = pd.read_csv('p2-arbres-fr.csv')
data = np.array(tableau2)
#sélection d'une ligne entière
data[0, :]

array(['99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E;19;Marronnier;Aesculus;hippocastanum;;20;5;;0;48.8576199541;2.3209621099'],
      dtype=object)

In [188]:
comptes = np.array([['Lundi', 'Mardi', 'Mercredi', 'Jeudi'], [12, 15, 11, 18]])
print(comptes)

[['Lundi' 'Mardi' 'Mercredi' 'Jeudi']
 ['12' '15' '11' '18']]

In [189]:
import numpy as np
import pandas as pd

A = np.random.randint(0, 10, size=36).reshape(6, 6)
names = ['test1', 'test2','test3','test4','tes5','test6',]
df = pd.DataFrame(A, index=names, columns=names)
df.to_csv('df.csv', index=True, header=True, sep=' ')

In [190]:
dataX = pd.read_csv('df.csv')
print(dataX)

   test1 test2 test3 test4 tes5 test6
0                   test1 6 0 3 2 9 8
1                   test2 5 0 2 6 6 0
2                   test3 6 2 6 3 7 7
3                   test4 7 6 0 3 7 1
4                    tes5 2 3 1 1 0 6
5                   test6 3 6 2 6 2 2

In [191]:
import pandas as pd

#chargement et affichage des données
tableauX = pd.read_fwf('testtab.csv')
print(tableauX)

  date_operation,libelle,montant,solde_avt_ope,categ
0  2023-03-31,DON XX XX XX XX XX XX XX,-1.44,1515...
1  2023-04-03,CARTE XX XX RAPT XX,-24.0,1513.81,T...
2  2023-04-03,CARTE XX XX RAPT XX,-73.0,1489.81,T...
3  2023-04-03,VIREMENT XX XX XX XX XX XX XX XX XX...

In [192]:
import pandas as pd
data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)
df.to_csv('dfX.csv', index=False)
dataXZ = pd.read_csv('dfX.csv')
dataXZ.head()

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [193]:
dataXZ.iloc[0, :]

Name    Alex
Age       10
Name: 0, dtype: object

In [194]:
import pandas as pd
import numpy as np

dataTab = pd.read_fwf('p2-arbres-fr.csv')
print(dataTab)
data = np.array(dataTab)
#sélection d'une ligne entière
data[0, :]

       id;type_emplacement;domanialite;arrondissement;complement_addresse;numero;lieu;id_emplacement;libelle_francais;genre;espece;variete;circonference_cm;hauteur_m;stade_developpement;remarquable;geo_point_2d_a;geo_point_2d_b
0       99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
1       99875;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
2       99876;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
3       99877;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
4       99878;Arbre;Jardin;PARIS 17E ARRDT;;;PARC CLIC...
...                                                   ...
200132  2024741;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200133  2024742;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200134  2024743;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200135  2024744;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...
200136  2024745;Arbre;Jardin;BOIS DE VINCENNES;;;ARBOR...

[200137 rows x 1 columns]

array(['99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E;19;Marronnier;Aesculus;hippocastanum;;20;5;;0;48.8576199541;2.3209621099'],
      dtype=object)

In [195]:
data_corrected = [["test", 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
df = pd.DataFrame(data_corrected, columns=['Identifiant', 'Type', 'Emplacement', 
                                 'Domanialité', 'Arrondissement', 'Completment adresse', 'Numéro de rue', 'Adresse', 
                                'Identifiant Emplacement', 'Libellé français', 'Genre', 'Espèce', 'Variété',
                                'Circonférence (cm)', 'Hauteur (m)', 'Stade de développement', 'Remarquable',
                                'Latitude (dd)', 'Longitude (dd)'])
print(df)
df.to_csv('arbre.csv', index=False)
dataXZ = pd.read_csv('arbre.csv')
dataXZ.head()

  Identifiant  Type  Emplacement  Domanialité  Arrondissement  \
0        test     0            0            0               0

   Completment adresse  Numéro de rue  Adresse  Identifiant Emplacement  \
0                    0              0        0                        0

   Libellé français  Genre  Espèce  Variété  Circonférence (cm)  Hauteur (m)  \
0                 0      0       0        0                   0            0

   Stade de développement  Remarquable  Latitude (dd)  Longitude (dd)
0                       0            0              0               0

,Identifiant,Type,Emplacement,Domanialité,Arrondissement,Completment adresse,Numéro de rue,Adresse,Identifiant Emplacement,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (m),Stade de développement,Remarquable,Latitude (dd),Longitude (dd)
0,test,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [196]:
data[0, 0]

'99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E;19;Marronnier;Aesculus;hippocastanum;;20;5;;0;48.8576199541;2.3209621099'

In [197]:
#supprimer des informations séparés par une virgule
#n=1 correspond au nombre de séparation
#expand=True permet de ranger dans un tableau les différentes séparations
# [0] permet de garder la première séparation
#test = "99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE"
df['Identifiant'] = int(dataTab.iloc[0, :].str.split(';', n=1, expand=True)[0])

In [198]:
df

,Identifiant,Type,Emplacement,Domanialité,Arrondissement,Completment adresse,Numéro de rue,Adresse,Identifiant Emplacement,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (m),Stade de développement,Remarquable,Latitude (dd),Longitude (dd)
0,99874,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [199]:
#print(dataTab.iloc[0, :].str.split(';', n=1, expand=True)[0].to_string())
print(dataTab.iloc[0, :].str.split(';', n=2, expand=True)[1].to_string(header=None, index=False))

Arbre

In [200]:
print(dataTab.iloc[0, :].str.split(';', n=18, expand=True)[:].to_string(header=None, index=False))

99874 Arbre Jardin PARIS 7E ARRDT   MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E 19 Marronnier Aesculus hippocastanum  20 5  0 48.8576199541 2.3209621099

In [219]:
df['Identifiant'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[0].to_string(header=None, index=False)
df['Type'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[1].to_string(header=None, index=False)
df['Emplacement'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[2].to_string(header=None, index=False)
df['Domanialité'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[3].to_string(header=None, index=False)
df['Libellé français'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[8].to_string(header=None, index=False)
df['Genre'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[9].to_string(header=None, index=False)
df['Espèce'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[10].to_string(header=None, index=False)
df['Variété'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[11].to_string(header=None, index=False)
df['Circonférence (cm)'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[12].to_string(header=None, index=False)
df['Hauteur (m)'] = dataTab.iloc[0, :].str.split(';', n=18, expand=True)[13].to_string(header=None, index=False)

In [220]:
df

,Identifiant,Type,Emplacement,Domanialité,Arrondissement,Completment adresse,Numéro de rue,Adresse,Identifiant Emplacement,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (m),Stade de développement,Remarquable,Latitude (dd),Longitude (dd)
0,99874,Arbre,Jardin,PARIS 7E ARRDT,0,0,0,0,0,Marronnier,Aesculus,hippocastanum,,20,5,0,0,0,0