In [12]:
import pandas as pd
import numpy as np

#chargement et affichage des données
data = pd.read_csv('p2-arbres-fr.csv')
data.head()

  id;type_emplacement;domanialite;arrondissement;complement_addresse;numero;lieu;id_emplacement;libelle_francais;genre;espece;variete;circonference_cm;hauteur_m;stade_developpement;remarquable;geo_point_2d_a;geo_point_2d_b
0  99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
1  99875;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
2  99876;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
3  99877;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU ...
4  99878;Arbre;Jardin;PARIS 17E ARRDT;;;PARC CLIC...

In [13]:
#On remarque que le tableau ne comporte qu'une seule colonne et 200k lignes
data.shape

(200137, 1)

In [14]:
data_array = np.array(data)
data_array[0, :]

array(['99874;Arbre;Jardin;PARIS 7E ARRDT;;;MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E;19;Marronnier;Aesculus;hippocastanum;;20;5;;0;48.8576199541;2.3209621099'],
      dtype=object)

In [34]:
#on constate que dans l'unique colonne il y a de nombreuses informations mal séparé par des points virgules
#on crée un nouveau tableau avec de bonne colonne et on y mettra les valeurs correspondantes
data_corrected = np.zeros((1, 10))
df = pd.DataFrame(data_corrected, columns=['Identifiant', 'Type', 'Emplacement', 
                                 'Domanialité', 'Libellé français', 'Genre', 'Espèce', 'Variété',
                                'Circonférence (cm)', 'Hauteur (m)'])
df

,Identifiant,Type,Emplacement,Domanialité,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (m)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#on va remplir le tableau avec les valeurs correspondantes
df['Identifiant'] = data.iloc[0, :].str.split(';', n=18, expand=True)[0].to_string(header=None, index=False)
df['Type'] = data.iloc[0, :].str.split(';', n=18, expand=True)[1].to_string(header=None, index=False)
df['Emplacement'] = data.iloc[0, :].str.split(';', n=18, expand=True)[2].to_string(header=None, index=False)
df['Domanialité'] = data.iloc[0, :].str.split(';', n=18, expand=True)[3].to_string(header=None, index=False)
df['Libellé français'] = data.iloc[0, :].str.split(';', n=18, expand=True)[8].to_string(header=None, index=False)
df['Genre'] = data.iloc[0, :].str.split(';', n=18, expand=True)[9].to_string(header=None, index=False)
df['Espèce'] = data.iloc[0, :].str.split(';', n=18, expand=True)[10].to_string(header=None, index=False)
df['Variété'] = data.iloc[0, :].str.split(';', n=18, expand=True)[11].to_string(header=None, index=False)
df['Circonférence (cm)'] = data.iloc[0, :].str.split(';', n=18, expand=True)[12].to_string(header=None, index=False)
df['Hauteur (m)'] = data.iloc[0, :].str.split(';', n=18, expand=True)[13].to_string(header=None, index=False)

In [32]:
df

,Identifiant,Type,Emplacement,Domanialité,Libellé français,Genre,Espèce,Variété,Circonférence (cm),Hauteur (m)
0,99874,Arbre,Jardin,PARIS 7E ARRDT,Marronnier,Aesculus,hippocastanum,,20,5